<div class="w-75 p-5 mx-auto bg-white" style="margin-top: 100px">
  <!-- app/views/articles/_form.html.erb -->
  <%= simple_form_for(@blogs) do |f| %>
    <%= f.input :title, as: :string %>
    <%= f.input :source, as: :string %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>