<div class="" style="margin-top: 200px;">
  <div class="">
    <div class="w-75 p-5 mx-auto bg-white">
      <%= form_for @booking do |f| %>
        <%# <div class="flex flex-column">
          <p class="text text-s">Check-in</p>           
          <%= f.date_field :check_in,
                      required: true %>
        <%# </div> %>
        <div class="flex flex-column">
          <p class="text text-s">Check-out</p>  
          <%= f.date_field :check_out,
                      required: true %>
        </div>
        <div class="flex flex-column">
          <p class="text text-s">Guests</p>  
          <%= f.number_field :guests,
                      required: true %>            
        </div> 
        <div class="form-inputs container text-dark m-auto d-flex flex-column w-50 p-0">
          <%= f.label :full_name %>     
          <%= f.text_field :full_name,
                  required: true %>
          <%= f.label :email %>     
          <%= f.text_field :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <div class="d-flex justify-content-around align-center">
          </div>
          <div class="d-flex justify-content-between">
            <div class="flex flex-column">
              <%= f.label :time_of_arrival %>
              <%= f.number_field :arrival_time,
                          required: true %>                    
            </div>
            <div class="flex flex-column">
              <%= f.label :room_id %>
              <%= f.select( :room_id, @rooms.ids, { include_blank: "Select something" }, { :class => 'room-number' }) %>
            </div>
          </div>
          <% @rooms.each do |room| %>
            <div id="<%= room.id %>" class="border btn bg-light p-5 room room-<%= room.id %>">
              <p><%= room.beds %></p>
              <p><%= room.floor %></p>
              <p><%= room.private_bathroom %></p>
            </div>
          <% end %>
        </div>
        <div class="form-actions d-flex justify-content-center mt-5">
          <%= f.submit "Book", class: "btn btn-danger form_event_button w-50"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
