<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" style="display: none; visibility: hidden;">
    <% @titles.each_with_index do |t, i| %>
      <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @titles.each_with_index do |t, i| %>
      <div class="carousel-item bg-dark <%= 'active' if i == 0 %>">
        <div class="carousel-image %>" alt="Slide <%= i + 1 %>" style="background-image: url('/assets/<%= t[:image] %>.jpg')"></div>
        <h5 class="carousel-text display-3 text-light"><p style="border-bottom: 3px solid white; width: 104px; margin: auto !important;"></p><%= t[:title] %><p style="border-bottom: 3px solid white; width: 104px; margin: auto !important;"></p></h5>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/filter' %>

<div class="about d-flex flex-column text-center justify-content-around">
  <h1 class="font-weight-bold mb-4">ABOUT IMPALA</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda alias delectus possimus necessitatibus debitis, repellat, natus voluptate a at, dolore animi nesciunt accusamus enim dignissimos? Repellat deleniti vel pariatur tempore.</p>
  <div class="underline"></div>
</div>

<div class="page-links container-fluid">
  <% @navLinks.each do |t| %>
    <%= link_to t[:link], class: 'page-link-wraper' do %>
      <div class="page-link text-center mx-auto" style="background-image: url('<%= t[:image] %>')">
        <h1 class="link-content link-title display-4 text-light"><%= t[:title].capitalize %></h1>
        <p class="link-content link-description text-light text-light"><%= t[:description] %></p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="blogs-background container-fluid"></div>
<div class="blogs-container container-fluid">
  <h1 class="text-uppercase font-weight-bold container">Blogs and news</h1>
  <div class="container" style="margin-bottom: 40px"><p class="blog-underline"></p></div>
  <div class="slider">
    <% @blogs.each do |b| %>
      <a href="<%= b[:link] ? b[:link] : '#' %>" class="card mx-5" target="_blank">
        <%= if b.photo.attached? then cl_image_tag b.photo.key, height: 200, crop: :fill, class: "card-img-top", style: 'object-fit: cover;' end %>
        <div class="card-body">
          <h5 class="card-title"><%= b[:title] %></h5>
          <p class="card-text">Sourced from <%= b[:source] %>, </p>
          <p class="card-text">on the <%= b[:created_at].strftime("%d-%m-%Y") %></p>
        </div>
      </a>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <p class="next-prev prev mx-4"><i class="fas fa-chevron-left"></i></p>
    <p class="next-prev next mx-4"><i class="fas fa-chevron-right"></i></p>
  </div>
</div>

<div class="newsletter text-center mb-5">
  <div class="newsletter-content">
    <h1 class="display-5 font-weight-bold mb-3" style="font-family: 'Volkhov', serif;">Impala Newsletter</h1>
    <p class="mb-4 fw-lighter">Quos nostrum quibusdam nihil tempora numquam eligendi mollitia vero necessitatibus consequuntur saepe?</p>
    <div class="newsletter-input input-group mb-3">
      <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Sign Up</button>
    </div>
  </div>
</div>
